img{

    max-width: 70% !important;
    height: 50vh !important;
    margin-left: auto;
    margin-right: auto;
    border: 4px salmon dashed ;
}
.img-container{
    margin-top: 30px;
}

.description{
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}