<ion-content class="ion-page">
  <ion-toolbar color="light">
    <ion-title>Cat Details</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home" replaceUrl="true"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>


<ion-grid>
  <ion-row>
      <ion-col>
        <div align="center" class="img-container">

          <img [src] = "detail?.url" >

        </div>

      </ion-col>
      


  </ion-row>

  <ion-row class="description">
        <ion-col>
          <div align="center" class="description">
            <ion-item lines="none">
                <ion-label  color="danger" position="stacked">
                    Breed

                </ion-label>
                <p>{{detail?.breeds[0]?.name}} </p>

            </ion-item>
            <ion-item lines="none">
              <ion-label color="danger" position="stacked">
                  Alternative  Name 

              </ion-label>
              <p>
                {{detail?.breeds[0]?.alt_names}}

              </p>

          </ion-item>
          <ion-item lines="none">
            <ion-label  color="danger" position="stacked">
             Description

            </ion-label>
            <p>
              {{detail?.breeds[0]?.description}}

            </p>

        </ion-item>
</div>




        </ion-col>




  </ion-row>


</ion-grid>


</ion-content>
