<ion-app>
  <div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>CATS</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-content>
      <router-outlet></router-outlet>
    </ion-content>
  </div>
</ion-app>
