<app-skeleton-list
  [count]="20"
  [show]="(loading$ | async) && page === 1 && breedId"
></app-skeleton-list>

<ion-grid [hidden]="(cat$ | async) === null || !breedSelected">
  <ion-row>
    <ion-col size="12" size-sm="12" size-md="3" size-lg="4" *ngFor="let cat of cat$ | async">
      <ion-item lines="none">
        <img [src]="cat?.url" 
        class="random-img"  (click)="goToDetails(cat?.id)" />
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

<app-list-footer *ngIf="!breedSelected"></app-list-footer>
