<ion-content class="ion-page">
  <ion-toolbar color="light">
    <ion-title>Home</ion-title>
  </ion-toolbar>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label>Search By Breed</ion-label>
          <ion-select interface="action-sheet" placeholder="Breeds"  (ionChange) ="search()"  [(ngModel)]="breedId" >
            <ion-select-option
         
              *ngFor="let breed of (breed$ | async ) "
              [value]="breed?.id"
              >{{breed?.name}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-image-list #imageList></app-image-list>
</ion-content>
